<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
    version="1.0">
    <persistence-unit name="user_datastore" transaction-type="RESOURCE_LOCAL">
    	<provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    	<class>org.mitre.openid.connect.repository.db.model.User</class>
    	<class>org.mitre.openid.connect.repository.db.model.Role</class>
    	<class>org.mitre.openid.connect.repository.db.model.UserAttribute</class>
        <properties>
         	<property name="eclipselink.logging.file" value="jpaoutput.log"/>
         	<property name="eclipselink.logging.level" value="FINE"/>
        </properties>
    </persistence-unit>
</persistence>